# This is a basic workflow to help you get started with Actions

name: Integración y entrega continua


# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      nombres: "Yovana Rosa"        # g.1
      apellidos: "Romero Gutierrez" # g.2
      edad: "31"                    # g.3
    
      user: ${{secrets.USER}}
      password: ${{secrets.PASSWORD}}


    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      
      # h) PRIMER STEP: PRESENTACIÓN
      - name: presentación
        run: |
          echo "Nombres: $nombres"
          echo "Apellidos: $apellidos"
          echo "Edad: $edad"
      
      # i) SEGUNDO STEP: DATOS GENERALES
      - name: datos generales
        run: echo "carrera de ingeniería de sistemas"

      # J) TERCER STEP: USER Y PASSWORD
      - name: variables de entorno secretas
        run: |
          echo "El usuario es: ${{env.USER}}"
          echo "La contraseña es: ${{env.PASSWORD}}"

